.container {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  overflow: hidden;
  padding: 0;
  width: 300px;
}

.header .devices {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: auto;
}


.header .devices .device .action {
  cursor: pointer;
  border: none;
  background: none;
  margin: 0;
}

.header .devices .device .action:hover{
  filter: brightness(1.06)
}

.header .devices .device .action:focus{
  filter: brightness(1.3)
}
